<h1>MAIN</h1>
<h2>.w.</h2>

<a href="{% url "programing_course_app:login" %}"><Button>LOGIN</Button></a>
<a href="{% url "programing_course_app:signup" %}"><Button>SIGN UP</Button></a>
<a href="{% url "programing_course_app:user" %}"><Button>USER</Button></a>
<a href="{% url "programing_course_app:friendList" %}"><Button>FRIEND LIST</Button></a>
<a href="{% url "programing_course_app:groupList" %}"><Button>GROUPS</Button></a>
<a href="{% url "programing_course_app:subjectList" %}"><Button>SUBJECTS</Button></a>