:root {
    --background-color: #f8f9fa;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --header-color: #000000;
    --paragraph-color: #000000;
    --button-color: #444444;
    --button-text-color: #ffffff;
    --button-hover-color: #555555;
    --container-border-color: #cccccc;
    --container-body-color: #ffffff;
    --container-text-color: #000000;
    --error-color: #ff0000;
    --success-color: #00ff00;
    --navbar-body-color: #ffffff;
    --navbar-text-color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(224, 224, 224, 1) 50%, rgba(181, 181, 181, 1) 100%);
}

.navbar {
    padding: 10px 20px;
    box-shadow: 0px 4px 6px var(--box-shadow-color);
}

.navbar-nav {
    gap: 15px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


.profile-container {
    background: var(--container-body-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    max-width: 400px;
    margin: auto;
    background-color: var(--container-body-color);
    color: var(--container-text-color);
    border: 1px solid var(--container-border-color);
}

.profile-image {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    border: 15px solid transparent;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--header-color)
}

h2 {
    color: var(--header-color);
}

h3 {
    color: var(--header-color);
    font-size: calc(1.3rem + 0.6vw);
   min-height: 1.5em;
}

h6 {
    color: var(--header-color);
}

p {
    font-size: 18px;
    margin: 5px 0;
    color: var(--paragraph-color)
}

.button-container {
    margin-top: 15px;
}

.button {
    width: auto;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background: var(--button-color);
    color: var(--button-text-color);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background: var(--button-hover-color);
}

.button:disabled {
    opacity: 0.7;
    cursor: default;
}

.card {
    border: 1px solid var(--container-border-color);
    padding: 1rem;
    border-radius: 8px;
    background-color: var(--container-body-color);
    color: var(--container-text-color);
}

.card + .card {
    margin-top: 1.5rem;
}

.settings-container {
    background: var(--container-body-color);
    color: var(--container-text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    border: 1px solid var(--container-border-color);
    max-width: 400px;
    margin: auto;
    text-align: left;
}

label {
    font-weight: bold;
    color: var(--paragraph-color);
}

.error-message {
    color: var(--error-color);
    font-size: 14px;
}

.success-message {
    color: var(--success-color);
    font-size: 14px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--container-border-color);
    color: var(--container-text-color);
    background-color: var(--container-body-color);
}

button {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
}

button:hover {
    background: var(--button-hover-color);
}


.group-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-card {
    background: var(--box-shadow-color);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-box {
    background: var(--container-body-color);
    padding: 15px;
    border: 1px solid var(--container-border-color);
    border-radius: 6px;
    margin-bottom: 20px;
    background: var(--button-hover-color);
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-item {
    display: inline-block;
    width: 250px;
    height: 500px;
    margin-right: 10px;
    background-color: var(--container-body-color);
    color: var(--container-text-color);
    border: 1px solid var(--container-border-color);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
    padding: 10px;
}

.scroll-image {
    width: 228px;
    height: 228px;
    border-radius: 5px;
}

.shop-button {
    width: 150px;
    height: 35px;
    font-size: 30px;
    text-align: center;
    padding: 3px;
}

.gatcha-div {
    display: inline-block;
    margin-right: 100px;
    background-color: var(--container-body-color);
    color: var(--container-text-color);
    border: 1px solid var(--container-border-color);
    box-shadow: 0 2px 10px var(--box-shadow-color);
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    word-wrap: break-word;
    white-space: normal;
    overflow: auto;
    padding: 20px;
    margin: 40px;
}

nav {
    background-color: var(--navbar-body-color);
    color: var(--navbar-text-color);
}

.nav-text {
    color: var(--navbar-text-color);
}

.btn-outline-dark {
    border: 1px solid var(--navbar-text-color)
}

.profile-list-card {
    background: var(--container-body-color);
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow-color);
    max-width: 400px;
    background-color: var(--container-body-color);
    color: var(--container-text-color);
    border: 1px solid var(--container-border-color);
}

.profile-image-small {
    max-width: 60px;
    max-height: 60px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 5px;
    border: 5px solid transparent;
}

.group-image-small {
    max-width: 80px;
    max-height: 80px;
    border-radius: 10px;
    vertical-align: middle;
    margin-right: 5px;
}

.achievement-icon {
    margin: auto;
    width: 100px;
    height: 100px;
    filter: grayscale(100%) opacity(0.5);
}

