{% extends "base.html" %}
{% block title %}{{ course.name }}{% endblock %}

{% block content %}
    {% if not course %}
        <p>Course not found.</p>
    {% else %}
        <h1>COURSE: {{ course.name }}</h1>
        <p><strong>{{ course.description }}</strong></p>
        <p>{{ course.text }}</p>

        <a href="{% url 'programing_course_app:overview' %}">
            <button class="button">Back to Overview</button>
        </a>

        <hr>
        <h2>Modules</h2>

        <div class="d-flex flex-column gap-0">
            {% for name, description in listModule %}
                <div class="card">
                    <h3>{{ name }}</h3>
                    <p>{{ description }}</p>
                    <a href="{% url "programing_course_app:module" nameCourse=nameCourse nameModule=name %}">
                        <button class="button">View Module</button>
                    </a>
                </div>
                {% empty %}
                <p>No modules found for this course.</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
