{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

<h1>SEARCH FRIEND</h1>

<!-- Search Form -->
<form method="get" class="mb-4 d-flex gap-2">
  <input type="text" name="q" placeholder="Search users..." value="{{ query }}" class="form-control" style="max-width: 300px;">
  <button type="submit" class="btn btn-outline-secondary">Search</button>
</form>


{% for user in search_results %}
        <a href="{% url "programing_course_app:user" username=user.username %}"><h2>{{ user.username }}</h2></a>
{% empty %}
        <p>No users found</p>
{% endfor %}

{% endblock %}
