{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

<h1>SEARCH USERS</h1>

<!-- Search Form -->
<form method="get" class="mb-4 d-flex gap-2">
  <input type="text" name="q" placeholder="Search users..." value="{{ query }}" class="form-control" style="max-width: 300px;">
  <button type="submit" class="btn btn-outline-secondary">Search</button>
</form>


{% for user in search_results %}
<div class="profile-list-card">
        <a style="text-decoration: none;" href="{% url "programing_course_app:user" username=user.username %}">
                <img class="profile-image-small" src="{{ user.profile.image.url }}" alt="Profile Picture">
                <h2 style="display: inline-block; vertical-align: middle;">{{ user.username }}</h2>
        </a>
</div>
{% empty %}
        <p>No users found</p>
{% endfor %}

{% endblock %}
