{% extends "base.html" %}

{% block title %}Friend requests{% endblock %}

{% block content %}



<h1>FRIEND REQUESTS</h1>

{% for friend in friends %}
<div class="profile-list-card">
        <a style="text-decoration: none;" href="{% url "programing_course_app:user" username=friend.username %}">
                <img class="profile-image-small" src="{{ friend.profile.image.url }}" alt"Profile Picture">
                <h2 style="display: inline-block; vertical-align: middle;">{{ friend.username }}</h2>
        </a>
</div>
{% empty %}
        <p>No friends found</p>
{% endfor %}

{% endblock %}
