{% extends "base.html" %}

{% block title %}Friend requests{% endblock %}

{% block content %}



<h1>FRIEND REQUESTS</h1>

{% for user in requests %}
<div class="profile-list-card">
        <a style="text-decoration: none;" href="{% url "programing_course_app:user" username=user.username %}">
                <img class="profile-image-small" src="{{ friend.profile.image.url }}" alt="Profile Picture" style="border-image: url({{friend.profile.border.image.url}}) 30 round">
                <h2 style="display: inline-block; vertical-align: middle;">{{ user.username }}</h2>
        </a>
</div>
{% empty %}
        <p>No requests</p>
{% endfor %}

{% endblock %}
