{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h1>INVENTORY</h1>

{% for categorys in userInventory %}

    <h2>{{categorys.category}}</h2>

    <div class="scroll-container">
        {%for item in categorys.items%}
            {% if not item.active %}
                <div class="scroll-item">
                    <img src="{{item.item.image.url}}" alt="item image" class="scroll-image">
                    <h3>{{ item.item.name }}</h3>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="use" value="{{item.item.id}}" />
                        
                        <button type="submit" class="shop-button">use</button>
                    </form>
                    <p>{{ item.item.description }}</p>
                </div>
            {% else %}
            {% endif %}
        {% endfor %}
    </div>

{% endfor %}

{% endblock %}