{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h1>SHOP</h1>
<h2>BALANCE: ¥{{ userBalance }}</h2>

{% for categorys in catalogue %}

    <h2>{{categorys.category}}</h2>

    <div class="scroll-container">
        {%for item in categorys.items%}
            <div class="scroll-item">
                {% if item.image %}
                    <img src="{{item.image.url}}" alt="item image" class="scroll-image">
                {% endif %}
                <h3>{{ item.name }}</h3>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="purchase" value="{{item.id}}" />
                    
                    <button type="submit" class="shop-button">¥{{ item.price }}</button>
                </form>
                <p>{{ item.description }}</p>
            </div>
        {% endfor %}
    </div>

{% endfor %}

{% endblock %}