{% extends "base.html" %}

{% block title %}Inventory{% endblock %}

{% block content %}
<h1>INVENTORY</h1>

<!-- {% if userTheme %} -->
<!-- <form method="post"> -->
<!--     {% csrf_token %} -->
<!--     <input type="hidden" name="selectedItem" value="-1" /> -->
<!---->
<!--     <button type="submit" style="width:auto;">unequip theme</button> -->
<!-- </form> -->
<!-- {% endif %} -->

{% for message in messages %}
<p class="{% if message.tags == 'success' %}success-message{% else %}error-message{% endif %}">{{ message }}</p>
{% endfor %}
        
{% for categorys in userInventory %}

    <h2>{{categorys.category}}</h2>

    <div class="scroll-container">
        {%for item in categorys.items%}
            <div class="scroll-item">
                {% if item.item.itemType == "border" %}
                    <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="scroll-image" 
                    style="border: 15px solid transparent; border-image: url({{item.item.image.url}}) 30 round;">
                {% else %}
                    <img src="{{item.item.image.url}}" alt="item image" class="scroll-image">
                {% endif %}
                <h3>{{ item.item.name }}</h3>
                <h6>{{ item.item.itemType }}</h6>
                {% if item.equippable %}
                    {% if item.active %}
                        <button type="submit" class="shop-button">equipped</button>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="selectedItem" value="{{item.item.id}}" />
                            
                            <button type="submit" class="shop-button">use</button>
                        </form>
                    {% endif %}
                {% endif %}
                <p>{{ item.item.description }}</p>
            </div>
        {% endfor %}
    </div>

{% endfor %}

{% endblock %}
