{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

<h1>MODULE {{ nameCourse }}-{{ nameModule }}</h1>
<a href="{% url "programing_course_app:course" nameCourse=nameCourse %}"><Button>COURSE</Button></a>

{% if not module %}
<p>module not found Q.Q</p>
{% else %}
<h1>{{ module.name }}</h1>
<p>{{ module.description }}</p>
<p>{{ module.text }}</p>

{% for name, description in listMission %}
  <div style="margin-bottom: 1rem;">
    <strong>{{ name }}</strong><br>
    <a href="{% url "programing_course_app:mission" nameCourse=nameCourse nameModule=nameModule nameMission=name %}">
      <button>Start</button>
    </a>
  </div>
{% empty %}
  <p>No missions found for this module.</p>
{% endfor %}


{% endif %}

{% endblock %}