{% extends "base.html" %}
{% block title %}Main{% endblock %}

{% block content %}

<h1>OVERVIEW</h1>

<div class="d-flex flex-column gap-0">
    {% for name, description in listCourse %}
        <div class="card">
            <h2>{{ name }}</h2>
            <p>{{ description }}</p>
            <a href="{% url "programing_course_app:course" nameCourse=name %}">
                <button class="button">View Course</button>
            </a>
        </div>
        {% empty %}
        <p>No courses found.</p>
    {% endfor %}
</div>

{% endblock %}
