{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

<body>
    <div class="profile-container">
        <h1>{{ user_profile.username }}</h1>

        {% if user.profile.image %}
            <img src="{{ user_profile.profile.image.url }}" alt="Profile Picture" class="profile-image">
        {% else %}
            <p>No profile picture added.</p>
        {% endif %}

        <p><strong>Username:</strong> {{ user_profile.username }}</p>
        <!-- <p><strong>Email:</strong> {{ user.email }}</p> -->

        {% if user_profile == user%}
        <div class="button-container">
            <a href="{% url 'programing_course_app:userSettings' %}"><button>Edit Profile</button></a>
        </div>
        {% else %}
        <div class="button-container">
            <form action="{% url "programing_course_app:addfriend" username=user_profile.username %}" method="post">
                {% csrf_token %}
                <button>Add friend</button>
            </form>
        </div>
        {% endif %}
    </div>
</body>

{% endblock %}
